<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap       = "http://phonegap.com/ns/1.0"
    	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.areadeportiva.exafutbol"
        versionCode = "14" 
        version     = "1.0.3" >

    <!-- versionCode is optional and Android only -->
	<preference name="phonegap-version" value="3.3.0" />
	<preference name="splash-screen-duration" value="5000" />

    <name>Pilsen ExaFutbol</name>

    <description>
        Toda la info de los torneos de futbol de exalumnos.  Proyecto de Área Deportiva.
    </description>

    <author href="http://www.areadeportiva.com.py" email="info@areadeportiva.com.py">
        Area Deportiva
    </author>
	
	<icon src="icon57.png" width="57" height="57" />
	<icon src="icon72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icon114.png" width="114" height="114" />
	
	<gap:platform name="android" />
	<gap:platform name="ios" />
	
	<gap:splash src="Default.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="Default.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="Default.png" gap:platform="android" gap:density="hdpi" />
	
	<gap:splash src="splashios.png" gap:platform="ios" width="320" height="480" />
	

	
<!-- iPhone / iPod Touch  -->
<icon src="icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="icon-60@2x.png" gap:platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="icon-76.png" gap:platform="ios" width="76" height="76" />
<icon src="icon-76@2x.png" gap:platform="ios" width="152" height="152" />

<!-- Settings Icon -->
<icon src="icon-small.png" gap:platform="ios" width="29" height="29" />
<icon src="icon-small@2x.png" gap:platform="ios" width="58" height="58" />

<!-- Spotlight Icon -->
<icon src="icon-40.png" gap:platform="ios" width="40" height="40" />
<icon src="icon-40@2x.png" gap:platform="ios" width="80" height="80" />
	
	<feature name="http://api.phonegap.com/1.0/network"/>

	<access origin="*" />

</widget>